<template>
    <form role="form" @submit.prevent="storeAnswers">
        <!-- Unanswered state -->
        <question-choices-block
                v-if="hasAnswered === false"
                v-for="question in questions"
                :key="question.id"
                :question.sync="question">
        </question-choices-block>
        <button type="submit" class="btn btn-primary mt-4 float-right"
                v-if="hasAnswered === false">Submit Answers</button>

        <!-- Answered state -->
        <question-answers-block
                v-if="hasAnswered === true"
                v-for="question in questionsWithAnswers"
                :key="question.id"
                :question.sync="question">
        </question-answers-block>
        <button type="submit" class="btn btn-primary mt-4 float-right"
                v-if="hasAnswered === true">Reset Answers</button>
    </form>
</template>

<script>
    import QuestionChoicesBlock from './QuestionChoicesBlock.vue';
    import QuestionAnswersBlock from './QuestionAnswersBlock.vue';

    export default {
        components: {
            QuestionAnswersBlock,
            QuestionChoicesBlock
        },
        created() {
            this.$eventHub.$on('select-answer', this.onSelectAnswer);
        },
        beforeDestroy() {
            this.$eventHub.$off('select-answer');
        },
        data() {
            return {
                questions: [],
                selectedAnswers: {},
                questionsWithAnswers: [],
                /* Whether the questions have been answered and successfully saved or not */
                hasAnswered: false
            };
        },
        mounted() {
            this.getQuestions();
        },
        methods: {
            /**
             * Listener for when a user selects a choice
             * ---
             * The choice is saved into an Object map. The map is used when we
             * submit the questionnaire to the backend
             *
             * @param {int} questionId  ID of question that was answered
             * @param {int} choiceId    ID of question choice that was selected
             */
            onSelectAnswer(questionId, choiceId) {
                this.selectedAnswers[questionId] = choiceId;
            },
            /**
             * Retrieve all questions and their possible answer choices
             */
            getQuestions() {
                axios.get('/api/question')
                    .then(response => {
                        this.questions = response.data.data;
                    });
            },
            /**
             * Submit and store answers
             */
            storeAnswers() {
                if(Object.keys(this.selectedAnswers).length !== this.questions.length){
                    console.log('Need to answer all questions');
                }

                let payload = new URLSearchParams();
                payload.append('selected_answers', JSON.stringify(this.selectedAnswers));
                axios.post('/api/question/storeAnswers', payload)
                    .then(response => {
                        this.questionsWithAnswers = response.data.data;
                        this.hasAnswered = true;
                    })
                    .catch(error => {
                        console.log('Error attempting to save answers');
                        console.log(error);
                    });
            },
            /**
             * Reset the app to an unanswered state
             */
            reset() {
                this.hasAnswered = false;
            }
        }
    }
</script>
