<template>
    <div class="form-check">
        <input :name="`question_${questionId}`" class="form-check-input" type="radio" v-on:click="emitSelectAnswer(questionId, choice.id)">
        <label class="form-check-label"
               :for="`question_${questionId}`">
            {{choice.value}}
        </label>
    </div>
</template>

<script>
    export default {
        props: [
            'choice',
            'questionId',
        ],
        methods: {
            /**
             * Sets which answer the user picked
             *
             * @param {int} questionId  ID of question answered
             * @param {int} choiceId    ID og question choice that user selected
             */
            emitSelectAnswer(questionId, choiceId) {
                this.$eventHub.$emit('select-answer', questionId, choiceId);
            }
        }
    }
</script>
