<template>
    <div class="card card-default mt-3">
        <div class="card-header">{{ question.value }}</div>

        <div class="card-body">
            <div class="form-group">
                <div v-for="choice in question.question_choices" >
                    <span class="text-success mr-1">Your answer:</span>
                    <span>{{ choice.value }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import QuestionChoice from './QuestionChoice.vue';

    export default {
        components: {
            QuestionChoice
        },
        props: [
            // Single question object, which contains the possible answer choices
            'question',
        ],

    }
</script>
