<template>
    <div class="card card-default mt-3">
        <div class="card-header">{{ question.value }}</div>

        <div class="card-body">
            <div class="form-group">
                <question-choice
                        v-for="choice in question.question_choices"
                        :questionId="question.id"
                        :key="choice.id"
                        :choice.sync="choice" >
                </question-choice>
            </div>
        </div>
    </div>
</template>

<script>
    import QuestionChoice from './QuestionChoice.vue';

    export default {
        components: {
            QuestionChoice
        },
        props: [
            // Single question object, which contains the possible answer choices
            'question',
        ],

    }
</script>
