<template>
    <div>
        <clients></clients>
        <authorized-clients></authorized-clients>
        <personal-access-tokens></personal-access-tokens>
    </div>
</template>
<script>
    import AuthorizedClients from './AuthorizedClients.vue';
    import Clients from './Clients.vue';
    import PersonalAccessTokens from './PersonalAccessTokens.vue';

    export default {
        name: 'passport-oauth-controls',
        components: {
            AuthorizedClients,
            Clients,
            PersonalAccessTokens
        }
    };
</script>